
.App {
  display: flex;
  flex-direction: column;
  margin: 20px;
  color: #bbb;
  position: relative;
}
.Header {
  font-size: 12px;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 10;
}
a {
  color: #eaea70;
}
.CodeMirror {
  height: auto;
}
.Result {
  font-size: 25px;
  font-weight: bold;
}