
.App {
  display: flex;
  flex-direction: column;
  margin: 20px;
  color: #bbb;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
}
.Header {
  font-size: 12px;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 10;
}
a {
  color: #eaea70;
}
.CodeMirrorContainer, .CodeMirrorContainer > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.CodeMirror {
  flex: 1;
}
.Result {
  font-size: 25px;
  font-weight: bold;
}